html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#root {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: $white;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 $heading-margin-bottom;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-semibold;
}

ul,
ol,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

* {
    scrollbar-color: grey transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        border-radius: 1.6rem;
        height: .5rem;
        width: .5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 1.6rem;
        height: .5rem;
        width: .5rem;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
        border-radius: 1.6rem;
    }
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.form-field {
    input:first-of-type {
        margin-right: 10px;
    }
}